.todoItem {
  display: inline-block;
  padding: 0 5px;

  input {
    border:none;
    background-image:none;
    background-color:transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid lighten(black, 50%);

    &:focus {
      border-bottom: 1px solid black;
    }

  }
}

.complete {
  text-decoration: line-through;
}